* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    104.1deg,
    rgba(0, 61, 100, 1) 13.6%,
    rgba(47, 127, 164, 1) 49.4%,
    rgba(30, 198, 198, 1) 93.3%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.password-input {
  height: 70px;
  width: 350px;
  border-radius: 7px;
  background-image: linear-gradient(
    179.1deg,
    rgba(255, 250, 172, 1) 10.3%,
    rgba(13, 167, 168, 1) 148%
  );
}

.password-input input {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: x-large;
}

::placeholder {
  font-size: x-large;
}

i {
  font-size: x-large;
  cursor: pointer;
}
button {
  padding: 20px;
  font-weight: 600;
  font-size: large;
  margin-top: 20px;
  border-radius: 7px;
  outline: none;
  border: none;
  cursor: pointer;
}
